pipeline/assignment7_question4.json
{
	"name": "assignment7_question4",
	"properties": {
		"activities": [
			{
				"name": "getting date from cobtable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(latest) as maxdate from saleslt.newvalue",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqltodataset",
						"type": "DatasetReference",
						"parameters": {
							"database": "saleslt",
							"table": "newvalue"
						}
					}
				}
			},
			{
				"name": "getting max date from table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modifieddate) as maxdate_cust from saleslt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqltodataset",
						"type": "DatasetReference",
						"parameters": {
							"database": "saleslt",
							"table": "customer"
						}
					}
				}
			},
			{
				"name": "copying data to a file depending on latest date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getting date from cobtable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getting max date from table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from saleslt.customer where modifieddate > '@{activity('getting date from cobtable').output.firstRow.maxdate}' and modifieddate <= '@{activity('getting max date from table').output.firstRow.maxdate_cust}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sqltodataset",
						"type": "DatasetReference",
						"parameters": {
							"database": "saleslt",
							"table": "customer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "datasettoadls",
						"type": "DatasetReference",
						"parameters": {
							"path": "increment"
						}
					}
				]
			},
			{
				"name": "getting max date from table and cobdate",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "copying data to a file depending on latest date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{'saleslt'}.@{'customer'}"
					},
					{
						"name": "Destination",
						"value": "@{'saleslt'}.@{'cobdate '}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select '@{activity('getting max date from table').output.firstRow.maxdate_cust}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sqltodataset",
						"type": "DatasetReference",
						"parameters": {
							"database": "saleslt",
							"table": "customer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "cobdateupdate",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "updating the cobdate table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getting max date from table and cobdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2023-03-21T00:00:00Z",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"latest"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "latest",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "cobdateupdate",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sqltodataset",
						"type": "DatasetReference",
						"parameters": {
							"database": "saleslt",
							"table": "newvalue"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-09T16:31:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}